* {
    color: #fcfefe!important;
    font-family: 'Poppins';
}

hr {
  color: #00d8ff!important;
}

body {
    background-color: #121212;
}

.header img.logo {
    max-width: 400px;
    margin: 20px;
    height: 50px;
}

ul.nav-bar {
    justify-content: flex-end;
}

ul.nav-bar .nav-link {
    margin: 10px;
    padding: 20px;
    font-weight: 500;
    color: #f0f0f0!important;
}

ul.nav-bar .nav-link:hover {
    cursor: pointer;
    color: #fefefe!important;
}

.info {
  flex-direction: row;
  padding: 10px;
  font-size: 15px;
  justify-content: space-between;
}

.info p {
  padding: 10px;
}

.info img {
  max-width: 350px;
  border-radius: 50%;
  margin: 10px;
}

.person-card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  border-radius: 20px;
  padding: 30px;
}

.img-person {
  max-width: 150px;
  border-radius: 50%;
}


.fundo-video {
    position: absolute;
    width: 100vw;
    height: 86vh;
    z-index: -2;
    overflow: hidden;
  }
  
  .fundo-video .video {
    height: 115vh;
    width: 100vw;
  }
  
  .fundo-video::after {
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #121212 -90%, rgba(0, 0, 0, 0.9) 49%, #121212 160%);
  }
  
  .video-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .video-list iframe {
    margin: 20px;
  }
  .carousel {
    width: 40%;
    height: 50%;
  }
  
  .carousel-inner {
    border-radius: 50%;
  }
  
  .home {
    max-height: 70vh;
  }
  
  .title-home {
    font-size: 50px;
    font-weight: 900;
  }
  
